<footer class="h-[40vh] text-white bg-[#1C4180]">
    <div class="container mx-auto p-10 flex gap-5 justify-between">
        <div class="flex flex-col justify-between gap-5">
            <div class="flex gap-5 font-bold items-center text-2xl">
                <i class="fa-solid fa-plane-departure "></i>
                <h3>skyBook</h3>

            </div>
            <div>
                <p class="text-[var(--dusty)]">travel the world with comfor and peace of mind</p>
            </div>
            <div>
                <ul class="flex gap-3 justify-between text-2xl">
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                </ul>


            </div>


        </div>

        <div class="flex flex-col gap-5">
            <div class="flex gap-5 font-bold items-center text-2xl">
                <h3>Company</h3>
            </div>

            <div>
                <ul class="flex flex-col gap-3  justify-between text-[var(--dusty)] ">
                    <li><a href="#">About US</a></li>
                    <li><a href="#">Contac US</a></li>
                    <li><a href="#">News</i></a></li>
                </ul>


            </div>


        </div>

        <div class="flex flex-col gap-5">
            <div class="flex gap-5 font-bold items-center text-2xl">
                <h3>Support</h3>
            </div>

            <div>
                <ul class="flex flex-col gap-3  justify-between text-[var(--dusty)] ">
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Refunds</a></li>
                    <li><a href="#">FaQ</i></a></li>
                </ul>


            </div>


        </div>
        <div class="flex flex-col gap-5">
            <div class="flex gap-5 font-bold items-center text-2xl">
                <h3>Legal</h3>
            </div>

            <div>
                <ul class="flex flex-col gap-3  justify-between text-[var(--dusty)] ">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Cookies Policy</i></a></li>
                </ul>


            </div>


        </div>
        <div class="flex flex-col justify-between gap-5">
            <h3 class="font-bold text-2xl">Subscribe to our newsletters</h3>

            <div>
                <p class="text-[var(--dusty)]">Get the latest offers and updates</p>
            </div>
            <div>
                <form>
                    <div class="wrapper-submit relative">
                        <input type="email" name="email" id="email"
                            class="bg-white p-2 w-full  text-gray-500 rounded-lg placeholder:text-gray-500 focus:outline-[var(--navy-blue)] outline-2" placeholder="email">
                        <button type="submit " class="absolute top-2 right-3">
                            <i class="fa-solid fa-plane-departure text-[var(--navy-blue)]"></i>
                        </button>
                    </div>

                </form>


            </div>



        </div>

</footer>