<nav class="flex justify-between font-bold">
    <div class="logo text-2xl flex gap-5">
        <a href="../index.html">
            <i class="fa-solid fa-plane-departure " ></i>
            <span>skyBook</span>
        </a>
    </div>
    <div class="nav-links">
        <ul class="flex  gap-10 text-xl">
            <li><a href="../index.html">flights</a></li>
            <li><a href="#">myBookings</a></li>
            <li><a href="#">offers</a></li>
            <li><a href="#">aboutUs</a></li>
            <li><a href="#">help</a></li>

        </ul>

    </div>
    <div class="login-status">
        <a href="../login.html" class="bg-[var(--navy-blue)] px-5 py-2 rounded-lg ">logIn</a>
    </div>

</nav>