<nav class="flex justify-between font-bold">
    <div class="logo text-2xl flex gap-5">
        <a href="../index.html">
            <i class="fa-solid fa-plane-departure" style="color: rgb(116, 192, 252);"></i>
            <span>skyBook</span>
        </a>
    </div>
    <div class="nav-links">
        <ul class="flex  gap-10 text-xl">
            <li><a href="#">Flights</a></li>
            <li><a href="#">myBookings</a></li>
            <li><a href="#">Offers</a></li>
            <li><a href="#">aboutUs</a></li>
            <li><a href="#">Help</a></li>

        </ul>

    </div>
    <div class="login-button">
        <button class="bg-blue-500 px-5 py-2 rounded-lg ">Log In</button>
    </div>

</nav>